body {
	
}

nav {
	font-family: arial;
	font-size: 11pt;
	
}

nav.top {
	float: right;
	margin: 20px;
}

nav ul {
	display: inline;
}

nav ul li {
	display: inline;
	padding: 10px;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.app {
	vertical-align: middle;
}

li.app {
	margin-right: 10px;
}

.signin {
	background-color: #4387fd;
	border-radius: 4px;
	padding: 10px 15px;
}

.signin a {
	color:white;
}

.logo {
	clear: both;
	margin: 0 auto;
	width: 50%;
}

.home {
	display: block;
	margin: 0 auto;
}

.search {
	margin: 0 auto;
	width: 50%;
}

#field {
	display: block;
	padding: 10px;
	margin: 0 auto;
	width: 75%;
}

.select {
	margin: 0 auto;
	width: 20%;
}

.button {
	background-color: #f2f2f2;
	border: none;
	color: #757575;
	font-family: arial;
	font-weight: bold;
	line-height: 27px;
	position: relative;
	left: 25px;
	padding: 5px 15px;
}

.bottom {
	margin: 0 auto;
	width: 100%;
}

.bottom-left {
	float: left;
	margin: 20px;
	padding: 0;
}

.bottom-right {
	margin: 20px;
	float: right;
}
