body {
	margin: 0;
	padding: 0;
}

nav {
	font-family: arial;
	font-size: 11pt;
	
}

nav.top {
	float: right;
	margin: 20px;
}

nav ul {
	display: inline;
}

nav ul li {
	display: inline;
	padding: 10px;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.app {
	vertical-align: middle;
}

li.app {
	margin-right: 10px;
}

.signin {
	background-color: #4387fd;
	border-radius: 4px;
	padding: 10px 15px;
}

.signin a {
	color:white;
}

.logo {
	clear: both;
	margin: 0 auto;
	padding-top: 100px;
	width: 50%;
}

.home {
	display: block;
	margin: 0 auto;
}

img.home {
	height: 101px;
	width: 299px;
	padding-top: 109px;
}

.search {
	margin: 0 auto;
	width: 50%;
}

#field {
	border: 1px solid lightgrey;
	display: block;
	font: 16px arial;
	margin: 0 auto;
	padding: 10px;
	width: 75%;
}

#field:hover{
	border: 1px solid darkgrey;
}

.select {
	margin: 0 auto;
	width: 20%;
}

.button {
	background-color: #f2f2f2;
	border: none;
	color: #757575;
	font-family: arial;
	font-weight: bold;
	font-size: 13.5px;
	line-height: 27px;
	position: relative;
	left: 25px;
	padding: 5px 15px;
}

.button:hover {
	border-radius: 2px;
	border: 1px solid #c6c6c6;
	color: black;
}

.bottom {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.bottom-left {
	float: left;
	margin: 20px;
	padding: 0;
}

.bottom-right {
	margin: 20px;
	float: right;
}



