body {
	font-family: Verdana;
    font-size: 10pt;
    color: #828282;
}

.top-row {
	background-color: #ff6600;
	margin: 0 auto;
	line-height: 22px;
	width: 85%;
}

.top-logo {
	display: inline-block;
	margin-left: 2px;
	margin-bottom: 2px;
}

.top-image {
	border: 1px solid white;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.top-title {
	color: #000000;
	margin-right: 4px;
	vertical-align: middle;
}

.top-menu {
	color: #000000;
	vertical-align: middle;
}

.top-login {
	float: right;
	margin-right: 6px;
	vertical-align: middle;
}

.main {
	background-color: #f6f6ef;
	width: 85%;
	margin: 0 auto;
}

.headline {
	display: inline-block;
	margin: 5px 0 0 10px;
}

.rank {
	color:#828282;
	font-family:Verdana; 
	font-size: 10pt;
}

.title {
	color:#828282;
	font-family:Verdana; 
	font-size: 10pt; 
}

 .comhead {
	font-family:Verdana; 
	font-size:  8pt; 
	color:#828282; 
}

.subtext {
	color:#828282;
	font-family:Verdana; 
	font-size: 7pt; 
	margin-left: 30px;
}



#bottomtable {
	width: 100%;
}

#bottomrow {
	background-color: #ff6600;
	padding: 1px;
}











.spacer {
	height: 5px;
}

.ylinks {
	background-color: #f6f6ef;
	color:#828282;
	font-family:Verdana;
	font-size:  8pt; 
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 85%;
}

.search {
	color:#828282;
	font-family:Verdana;
	font-size:  10pt; 
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: #828282;
	text-decoration: none;
}

.top-row a:visited {
	color: #000000;
}

.comhead a:link, .comhead a:visited {
	color: #828282;
}
.comhead a:hover {
	text-decoration: underline;
}

.subtext a:hover {
	text-decoration: underline;
}

